/* Global reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* My styles */

:root {
    --header-height: 66px;
    --admin-bar-height: 0px;
}

body.admin-bar {
    --admin-bar-height: 46px;
}

@media (min-width: 782px) {
    body.admin-bar {
        --admin-bar-height: 32px;
    }
}

body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.2142;
    color: #6f6f6f;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.admin-bar .header {
    top: 32px;
}

main {
    flex: 1;
}

.container {
    padding-inline: 15px;
    margin: 0 auto;
}

.container--middle {
    max-width: 1170px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */
.header {
    position: sticky;
    background-color: #ff5d24;
    z-index: 100;
    top: var(--admin-bar-height);
    min-height: var(--header-height);
}

.header__container {
    height: inherit;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    min-height: var(--header-height);
}

.header__logo {
    width: auto;
    display: flex;
    align-items: center;
}

.header__logo img {
    max-height: 66px;
    width: auto;
}

.main-menu__list {
    color: #fff;
    text-transform: uppercase;
}

.main-menu__list li a {
    display: block;
    text-align: center;
    padding: 25px 30px;
    transition: color 0.2s ease, background-color 0.2s ease;
}

@media (any-hover: hover) and (any-pointer: fine) {
    .main-menu__list li a:hover {
        background-color: #e52f2f;
        color: #fff500;
    }
}

.header__inner {
    justify-content: space-between;
}





/* BURGER MENU (Mobile Style) */
.burger {
    display: block;
    padding: 0px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    width: 44px;
    height: 35px;
    cursor: pointer;
    position: relative;
    z-index: 105;
}

.burger span, .burger::before, .burger::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}

.burger span {
    top: 50%;
    transform: translate(-50%, -50%);
}

.burger::before {
    top: 9px;
}

.burger::after {
    bottom: 9px;
}

.burger.active span {
    opacity: 0;
}

.burger.active::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.burger.active::after {
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* MOBILE MENU CONTAINER */
.header__menu {
    position: fixed;
    top: calc(var(--admin-bar-height) + var(--header-height));
    right: -100%;
    height: calc(100vh - var(--header-height) - var(--admin-bar-height));
    z-index: 100;
    background-color: #ff5d24;
    width: 100%;
    transition: right 0.3s ease;
    overflow-y: auto;
}

.header__menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__menu.active {
    right: 0;
}

body.lock {
    overflow: hidden;
}

/* DESKTOP STYLES (Min-width: 768px) */
@media (min-width: 768px) {
    .header__logo {
        display: none;
    }

    .burger {
        display: none;
    }

    .header__menu {
        position: static;
        height: auto;
        margin-top: 0px;
        z-index: 100;
        background-color: #ff5d24;
        width: auto;
    }

    .header__menu ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    body.admin-bar .header__menu {
        margin-top: 0px;
    }
}





/* ABOUT */
.about {
    background-color: #BBCBD9;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__logo {
    margin: 70px 0 20px;
    width: 200px;
    height: auto;
}

.about__title {
    margin: 0 0 10px 10px;
    font-weight: 500;
    line-height: 1.1;
    align-self: flex-start;
}

.about__text p {
    margin: 10px 0 20px;
}

.about__image {
    margin-top: 40px 0 30px;
}

@media (min-width: 768px) {
    .about__logo {
        align-self: flex-start;
    }
}

@media (min-width: 1024px) {
    .about__container {
        flex-direction: row;
    }

    .about__container>* {
        flex: 1;
    }

    .about__image {
        margin-top: 50px;
        align-self: flex-start;
    }
}