/* Global reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* My styles */

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2142;
  color: #333;
  background-color: #eeeeee;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  padding-inline: 15px;
  margin: 0 auto;
}

.container--middle {
  max-width: 1170px;
}

/* HEADER */
